.title-menu{
    margin: auto;
    text-align: center;
    padding-top: 1rem;
    color: #0b0d1b;
}

.container-rest-home{
    background-color:#6e43a1;
}
.card-color{
    background-color: #ebebeb;
}