<!-- CARDS MENU -->
<div class="container-rest-home">
    <div class="title-menu">
        <h1>Echa un vistazo al menú</h1>
    </div>

    <div class="container" style="padding-bottom: 4rem;">
        <div class="row justify-content-between">


            <div class="card col card-color" style="width: 18rem; margin: 1rem">
                <img src="https://images.unsplash.com/photo-1579697096985-41fe1430e5df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Variedades de pan.</p>
                </div>
            </div>

            <div class="card col card-color" style="width: 18rem; margin: 1rem;">
                <img src="https://images.unsplash.com/photo-1464195157370-5b596406ff80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Variedades de pasteles.</p>
                </div>
            </div>

            <div class="card col card-color" style="width: 18rem; margin: 1rem;">
                <img src="https://images.unsplash.com/photo-1613769111853-e3ab22d174cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=827&q=80"
                    class="card-img-top" alt="...">
                <div class="card-body border-0">
                    <p class="card-text">Catering.</p>
                </div>
            </div>

        </div>
    </div>

</div>