/* .carousel, .carousel-inner > .carousel-item > img {
    height: 95%;
  } */

.title-home{
    font-size: 200px;
}

.container-text{
    background-color: black;
    /* opacity: 0.5; */
    width: 7rem;
    height: 5rem;
    z-index: 1000;
}

.container-rest-home{
    background-color:#6e43a1;
}

.background-container{
background-color: #5446a1;
/*padding: 7rem;*/
}

.space-button{
    margin: 5rem;
    
}