.title-home{
    font-size: 200px;
}

.title-slider-bakery{
    color: white;
}

.title-slider-background{
    background-color: black;
    opacity: 0.9; 
    width: 31rem;
    height: 7rem;
    margin: auto;
    padding: 1rem;
}

.button-comun{
    margin-top: 1rem;
    background-color:red;
    color:white;
}


.background-container{
background-color: #5446a1;
/*padding: 7rem;*/
}

.space-button{
    margin: 5rem;
    
}